* {
    padding: 5px;
    margin: 5px;
  }

  body {
    color: rgb(80, 20, 78);
    background-color: #ffd7e2;
  }

  .cssBackgroundImg {
    background-image: url(../internetstudio-midterm/picture.jpg);
    width: 424px;
    height: 310px;
    margin: 32px auto;
  }

  .text {
    display: block;
    width: 50%;
    margin: 96px auto;
  }

  .russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1 {
    font-family: 'Russo One';
    color: rgb(44, 47, 205);
    font-size: 5rem;
    text-align: center;
  }

  p{
    font-family: 'Russo One';
    font-size: 1.5rem;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  p2{
    font-family: 'Russo One';
    font-size: 1.5rem;
    text-align: left;
    padding-left: 40px;
  }
  ul{
    font-family: 'Russo One';
    font-size: 1.5rem;
    text-align: left;
  }
  .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

  }
  h2 {
    font-family: 'Bebas Neue';
    color: dodgerblue;
    font-size: 3rem;
    text-align: left;
    padding-left: 40px;
  }
  
  h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    text-align: right;
    margin-top: -2.5rem;
  }
  
  h3 a:link,
  a:visited {
    color: dodgerblue;
    text-decoration: none;
  }
  
  h3 a:hover {
    color: white;
  }